

.footerContainer {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 6;
	background-color: #63599E;
	// background-image:
	// 	linear-gradient(
	// 		#EBEBE5, #9AB1AE
 //    	);
   text-align: center;
}