
.headerContainer {
	background-color: #63599E;
	text-align: center;
	display: flex;
	justify-content: space-between;
}


.headerLogo {
	display: inline-block;
	font-family: 'Rancho', cursive;
	font-size: 3.2rem;
	letter-spacing: 0.07em;
	color: #EBEBE5;
  	padding: 50px 30px;
  	margin: 0px;
  	align-self: center;

}


