
body {
	margin: 0;
}

.mainContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 700px));
	grid-template-rows: repeat( 5, auto );
	background-color: #D9D9D9;
	font-family: 'Oxygen', sans-serif;

	@media screen and (max-width: 800px) { 
		display: block;
		// padding-top: 30px;
	}

}



