
.navbarContainer {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline-flex;
	justify-content: space-evenly;
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #5B52A1;
}

.navbarItem {
	display: inline;
	text-align: center;
	color: #EBEBE5;
	padding: 20px 20px;
	font-size: 1.2em;
	letter-spacing: 0.05em;
}

a {
	color: #EBEBE5;
  	text-decoration: none;
}