
.remindersContainer {

	background-color: green; //temporary
	height: 60px;
	width: 25px;

	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;
	border-radius: 25px;
	// font-family: sans-serif;
	text-align: center;
	margin: 10px 25px;

}
