/*ScheduleScreen styling*/

.screenContainer {
	background-color: #5B52A140; //transparency 40%
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 5;
	border-radius: 25px;
	// font-family: sans-serif;
	text-align: center;
	min-height: 50vh;
	margin-top: 1em;
	margin-left: 1em;
	
	h3 {
		color: white;
	}

	p {
		color: black;
		font-size: 11px;
	}

}