.mainContainer {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, auto);
  background-color: #D9D9D9; }

.headerContainer {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #63599E;
  text-align: center; }

.headerLogo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: sans-serif;
  color: #EBEBE5;
  font-weight: bold;
  padding: 50px 30px;
  margin: 0px; }

.navbarContainer {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #5B52A1; }

.navbarItem {
  display: inline;
  text-align: center;
  font-family: sans-serif;
  color: #EBEBE5;
  padding: 20px 20px; }

a {
  color: white;
  text-decoration: none; }

/*ScheduleScreen styling*/
.screenContainer {
  background-color: #5B52A140;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  border-radius: 25px;
  font-family: sans-serif;
  text-align: center;
  min-height: 50vh;
  margin-top: 1em; }
  .screenContainer h3 {
    color: white; }
  .screenContainer p {
    color: black;
    font-size: 11px; }

.sidebarContainer {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  border-radius: 25px;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  border-top: 1em; }

.calendarCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red; }

.react-calendar {
  margin-top: 1em; }

.remindersContainer {
  background-color: green;
  height: 60px;
  width: 25px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  border-radius: 25px;
  font-family: sans-serif;
  text-align: center;
  margin: 10px 25px; }

.homeButton {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
  height: 40px;
  width: 40px;
  z-index: 1; }

.logOutButton {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
  align-self: center;
  padding: 10px 30px;
  background-color: #EBEBE540;
  border-radius: 6px;
  border: 0px;
  color: #EBEBE5;
  font-size: 1em; }

.settingGearsButton {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
  align-self: center;
  height: 40px;
  width: 40px;
  z-index: 1;
  margin-right: 25px; }
